name: Testes

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:15
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: shortener
        options: >-
          --health-cmd "pg_isready -U postgres"
          --health-interval 5s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Checkout código
        uses: actions/checkout@v4

      - name: Configurar Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Instalar dependências
        run: npm install

      - name: Aguardar PostgreSQL subir
        run: |
          for i in {1..10}; do
            pg_isready -h 127.0.0.1 -p 5432 && break
            echo "Postgres ainda não está pronto..."
            sleep 2
          done

      - name: Criar tabela URLs
        run: |
          PGPASSWORD=postgres psql -h 127.0.0.1 -U postgres -d shortener -c "
            CREATE TABLE IF NOT EXISTS urls (
              code TEXT PRIMARY KEY,
              url TEXT NOT NULL
            );
          "

      - name: Debug: verificar jest
        run: ls -la node_modules/.bin

      - name: Rodar Testes
        env:
          PGHOST: 127.0.0.1
          PGUSER: postgres
          PGPASSWORD: postgres
          PGDATABASE: shortener
          PGPORT: 5432
          PATH: ./node_modules/.bin:$PATH
        run: npm test
