name: Testes

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:15
        ports:
          - 5432:5432
        env:
          POSTGRES_DB: shortener
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        options: |
          --health-cmd "pg_isready -U postgres"
          --health-interval 5s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Checkout código
        uses: actions/checkout@v4

      - name: Instalar Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Instalar dependências
        run: npm install

      - name: Esperar PostgreSQL ficar pronto
        run: |
          for i in {1..10}; do
            if pg_isready -h localhost -p 5432 -U postgres; then
              echo "Postgres está pronto!"
              exit 0
            fi
            echo "Aguardando Postgres..."
            sleep 3
          done
          echo "Postgres não subiu a tempo"
          exit 1

      - name: Debug: verificar jest
        run: ls -la node_modules/.bin

      - name: Rodar testes
        env:
          PGHOST: localhost
          PGUSER: postgres
          PGPASSWORD: postgres
          PGDATABASE: shortener
          PGPORT: 5432
        run: npm test
