name: Testes

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:15
        ports:
          - 5432:5432
        env:
          POSTGRES_DB: shortener
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres

    steps:
      - name: Checkout código
        uses: actions/checkout@v4

      - name: Instalar Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Instalar dependências
        run: npm install

      - name: Aguardar PostgreSQL subir
        run: |
          for i in {1..20}; do
            if pg_isready -h localhost -p 5432 -U postgres; then
              echo "Postgres está pronto!"
              exit 0
            fi
            echo "Aguardando Postgres..."
            sleep 2
          done
          echo "Postgres não subiu a tempo"
          exit 1

      - name: Criar tabela URLs
        run: |
          PGPASSWORD=postgres psql -h localhost -U postgres -d shortener \
            -c "CREATE TABLE IF NOT EXISTS urls (code TEXT PRIMARY KEY, url TEXT NOT NULL);"

      - name: Debug - verificar jest
        run: ls -la node_modules/.bin

      - name: Rodar Testes
        env:
          PGHOST: localhost
          PGUSER: postgres
          PGPASSWORD: postgres
          PGDATABASE: shortener
          PGPORT: 5432
        run: npm test
